*
{
    font-family:arial;
}
body 
{
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
    background:url(../images/skin/bkg_main_index.png) repeat-y top center #797979;
}
html
{
    height:100%;
    min-height:100%;
}

/*Wrapper*/
/************************************************************/

#pagewrapper
{
    min-height:100%;
    height:100%;
    background:url(../images/skin/main.png) no-repeat top center;
}

#contentwrapper
{
    width:800px;
    min-height:100%;
    height:auto !important;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    background:#FFFFFF;
}
#header
{
    height:20px;
    background:url(../images/skin/header_separator.jpg) no-repeat;
}
#ccdmd
{
    margin-top:27px;
    margin-right:50px;
    height:56px;
    text-align:right;
}
#title
{
    margin-left:35px;
    margin-right:50px;
    padding-left:32px;
    margin-top:50px;
    background:url(../images/skin/arrowOnly.png) no-repeat center left;
    color:#4974a5;
    font-size:22pt;
}
#title a
{
    font-size:22pt;
    color:#4974a5;
    text-decoration:none;
}
#title a:hover
{
    text-decoration:underline;
}
#intro
{
    margin-top:8px;
    margin-left:70px;
    margin-right:50px;
    font-size:14pt;
    color:#3E43A8;
}

#separator
{
    margin-left:70px;
    margin-right:50px;
    height:4px;
    background:#4040ff;
    margin-top:8px;
}
#miscwrapper
{
    margin-top:6px;
    margin-left:70px;
    margin-right:50px;
}

#miscwrapper a
{

}

#miscwrapper div
{
    height:50px;
    float:left;
    font-size:12pt;
}
#misc1
{
    width:337px;
    border-right:solid 1px #606060;
    font-size:12pt;
    color:#4F4E4E;
}
#misc2
{
    width:231px;
    padding-left:10px;
    border-right:solid 1px #606060;
    font-size:12pt;
    color:#4F4E4E;
}
#misc3
{
    width:100px;
    background:url(../images/skin/bullet.png) 10px 6px no-repeat;
    padding-top:4px;
}
#misc3 img
{
    padding-left:21px;
}
.medias
{
    text-align:center;
    margin-bottom:35px;
    /*padding-left:20px;*/
    margin-left:20px;
}
#spacer
{
    height:60px;
    clear:both;
}
#textGuidelineWelcome
{
    margin-left:157px;
    margin-right:105px;
    margin-bottom:35px;
}

#continue
{
    margin-top:35px;
    font-weigth:bold;
    padding-bottom:15px;
}

#continue a
{
    font-size:15pt;
    text-decoration:none;
    color:#353131;
}

#continue a:hover
{
    text-decoration:underline;
}

#continue img
{
    vertical-align:middle;
}


#tdGo
{
    font-size:12pt;
    color:#606060;
}

.userLink{
    text-decoration:none;
    color:#465EAB;
}

.userLink:hover{
    text-decoration:underline;
}

